header {
    height: 150px;
}

.login {
    width: 250px;
    height: 120px;
    border: 2px solid black;
    margin-left: 150px;
    float: left;
    margin-top: 50px;
}

.lgi {
    width: 100px;
    margin: 5px;
}


.blockChain {
    width: 250px;
    height: 180px;
    float: left;
    margin-right: 35px;
}
.sugang {
    width: 550px;
    height: 200px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sugangAll { 
    width: 800px;
    height: 1000px;
    margin: auto;
    margin-top: 30px;
}

.Foot {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    color: gray;
}

.textsiz {
    font-size:14px;
    color: rgb(92, 91, 91);
    margin-top: -5px;
}

.curriC {
    width: 170px;
    height: 50px;
    display: flex;
    margin: auto;
    margin-left: 500px;
    margin-top: 30px;
    margin-bottom: -30px;
}

.Buto {
    background-color: green;
    border: 2px solid lightgrey;
}