header { /*헤더*/
    height: 70px;
}

.login { /* 아이디 입력 박스*/
    float: left;
    width: 200px;
    border: 2px solid black;
    margin-left: 9%;
    margin-top: 4%;
}

#loginbtn { /* 아이디 입력 박스*/
    float: right;
    margin-right: 4%;
    margin-top: 15%;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: lightskyblue;
    border: 1px solid green;
}

#loginbtn:hover { /* 아이디 입력 박스*/
    cursor: pointer;
}

#loginformbox { /* 아이디 입력 박스*/
    display: flex;
    justify-content: space-around;
    font-size: 75%;
    font-weight: 600;
}

#id, #pw { /* 아이디 입력 박스*/
    margin-left: 3%;
    font-size: 80%;
}

.member:hover { /* 아이디 입력 박스*/
    color: blue;
    cursor: pointer;
}

.lgi { /* 아이디 입력 박스*/
    width: 100px;
    margin: 5px;
    margin-top: 1%;
    margin-left: 5%;
}

.logo { /* 로고 */
    margin-left: 4%; 
    margin-right: 10%;
    top: 0%;
    display: block;
    height: 15%;
    width: auto;
    position: fixed;
    border: 1px solid skyblue;
    /* border: 2px solid black; */
}

.nav-container {
    position: fixed;
    margin-left: 200px;
    height: 15%;
    flex-direction: row;
    margin: 0; /*불필요한 공백 제거*/
    padding: 0; /*불필요한 공백 제거*/
    list-style-type: none; /*목록 기호 제거*/
    font-size: 2.5vh;
}

.nav-item {
    background-color: skyblue;
    padding: 4%;
    width: 16%;
    height: auto;
    text-align: center;
    font-size: 120%;
    /* cursor: pointer; 커서모양 포인터로 함 */
}
.nav-item a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav-item:hover { /*메뉴 공간*/
    background-color: rgb(82, 184, 224);
    cursor: pointer;
}
.nav-container { /*메뉴 공간*/
    position:absolute;
    top: 0; /* 상단위치를 0으로 */
    height: 17%;
    left: 25%;
    width: 70%
}

.Foot { /*푸터*/
    font-size: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    color: gray;
}