@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Gamja+Flower&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100&display=swap");

body {
  font-family: "Cute Font", cursive;
}

.blockChain {
  width: 280px;
  height: 190px;
  float: left;
  margin-right: 80px;
  margin-left: 60px;
  margin-bottom: 15px;
  margin-top: 3px;
}
.sugang {
  width: 800px;
  height: 199px;
  margin-bottom: 20px;
  margin-top: 20px;
  /* background-color: slateblue; */
}

.sugangAll {
  /* margin-left: 27%; */
  width: 1000px;
  height: 1100px;
  margin-left: min(550px, 80%);
  margin-bottom: -15px;
  margin-top: -90px;
  float: left;
  /* background-color: springgreen; */
}

.textsiz {
  font-size: 90%;
  color: rgb(92, 91, 91);
  line-height: 80%;
}

.curriC {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 40px;
}

.Buto {
  background-color: thistle;
  border: 2px solid gray;
}

.Buto:hover {
  color: black;
  cursor: pointer;
}

hr {
  margin-right: 100px;
  width: 900px;
}

.mars {
  margin-top: 15px;
}

.Foot {
  /*푸터*/
  width: 590px;
  height: auto;
  top: 95%;
  left: 750px;
  font-size: 14px;
  color: gray;
  position: absolute;
}

.FoOt {
  /*푸터*/
  width: 900px;
  top: 92%;
  left: 480px;
  font-size: 14px;
  color: gray;
  position: absolute;
}
